body {
    margin: 0px;
    padding: 50px;
    box-sizing: border-box;
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);

}


.card {
    background-color: #f2f2f3;
    margin-top: 10px;
    padding: 20px;
    width: 50%;
}

img {
    width: 25%;
    border-radius: 80px;
}

.cell{
    text-align: right;
}

input{
    padding: 12px;
}